_recordings/
__pycache__/
08242023_recordings/
08282023_recordings/
08292023_recordings.zip
08292023_recordings/
09032023_recordings.zip
09032023_recordings/
_recordings.zip
_recordings_08242023.zip
_recordings_08282023.zip
_recordings_08282023_bad_ones_deleted.zip
delete_me/
failures/
image_viewer_with_boundaries.py
rename_episode_folders.py
visualize_endoscope.py
__pycache__/my_module.cpython-38.pyc